<%= link_to "Canvases", "canvases" %>
<table id="canvas">
    <tr>
        <td rowspan="2" class="problem">
            <h2>Problem</h2>
            <textarea></textarea>
        </td>
        <td class="solution">
            <h2>Solution</h2>
            <textarea></textarea>
        </td>
        <td colspan="2" rowspan="2" class="uvp">
            <h2>Unique Value Proposition</h2>
            <textarea></textarea>
        </td>
        <td class="unfairadvantage">
            <h2>Unfair Advantage</h2>
            <textarea></textarea>
        </td>
        <td rowspan="2" class="customersegments">
            <h2>Customer Segments</h2>
            <textarea></textarea>
        </td>
    </tr>
    <tr>
        <td class="keymetrics">
            <h2>Key Metrics</h2>
            <textarea></textarea>
        </td>
        <td class="channels">
            <h2>Channels</h2>
            <textarea></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="3" class="coststructure">
            <h2>Cost Structure</h2>
            <textarea></textarea>
        </td>
        <td colspan="3" class="revenuestreams">
            <h2>Revenue Streams</h2>
            <textarea></textarea>
        </td>
    </tr>
</table>
